<% @projects.each.with_index do |project, project_index| %>
  <div class="project">
    <div class="project-meta">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= project.name %></h2>
        </div>
        <div class="panel-body">
          <p><%= project.date.to_s(:month_year) unless project.date.blank? %></p>
          <p><strong>Role: </strong><%= project.role unless project.role.blank? %></p>
          <p><strong>Tech: </strong><%= project.technology unless project.technology.blank? %></p>
          <p><%= project.description unless project.description.blank? %></p>
          <p><%= link_to "Visit site", project.link, :target => "_blank" unless project.link.blank? %></p>
        </div>
      </div>
    </div>
    <div class="project-gallery">
      <% if project.assets.count > 1 %>
        <div id="carousel-<%= project_index %>" class="carousel slide" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% project.assets.each do |asset, index| %>
            <li data-target="#carousel-<%= project_index %>" data-slide-to="<%= index %>" <%= "class='active'" if index == 0 %>></li>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% project.assets.each.with_index do |asset, index| %>
              <div class="item <%= "active" if index == 0 %>">
                <% if asset.url.blank? %>
                  <%= image_tag asset.image.url(:medium) %>
                <% else %>
                  <iframe src="<%= asset.url %>" width="636" height="364" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <% end %>
              </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-<%= project_index %>" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-<%= project_index %>" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      <% else %>
        <% project.assets.each do |asset| %>
          <div class="item">
            <% if asset.url.blank? %>
              <%= image_tag asset.image.url(:medium) %>
            <% else %>
              <iframe src="<%= asset.url %>" width="636" height="363" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>