<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @project.technology %>
</p>

<p>
  <strong>Role:</strong>
  <%= @project.role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project.link %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
