<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="background" data-type="background">                            
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dolenworks</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to root_path, class: "text-link" do %>
              <span>Home</span>
            <% end %>
          </li>
          <% Page.where(published: true).each do |page| %>
          <li>
            <%= link_to "/#{page.slug}", class: "text-link" do %>
              <span><%= page.title %></span>
            <% end %>
          </li>
          <% end %>
          <li>
            <a href="resume-140324.pdf" class="text-link"><span class="glyphicon glyphicon-file"></span> Resume</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href=""><i class="icon-connect icon-github-alt"></i></a></li>
          <li><a href=""><i class="icon-connect icon-linkedin"></i></a></li>
          <li><a href=""><i class="icon-connect icon-envelope"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container container-main" data-type="foreground">
    <%= yield %>
  </div> <!-- /container -->
  <div class="container">
    <div class="row">
      <div class="footer"><p class="small">woolschlager.com &copy;2011-2014</p></div>
    </div>
  </div>
</div>
</body>
</html>
